/*@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,700,900");
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
body
{
}

.logo {
    width: 40px;
    object-fit: contain;
}

.mlogo {
    color: #0d990d;
}
.navbar {
    background: #fff;
    box-shadow: 0 4px 6px rgba(22, 22, 26, 0.18);
}
.align-center{
    text-align:center;
}
.navbar .navbar-nav .nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 450;
}

.btn-secondary {
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.profile-user {
    width: 30px;
}

.search {
    width: 20px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.caurosl-img {
    width: 100%;
    height: 400px;
    object-fit: fill;
    display: block;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 15.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.ord-dtls {
    background-color: white;
    max-width: 600px;
    margin: auto;
    border-radius: 4px;
    min-height: 60px;
    font-size: 22px;
    line-height: 57px;
    color: black;
    font-weight: 500;
    opacity:0.7;
}
.curo-btn {
    font-size: 16px;
    font-weight: 600;
    color: black;
    width: 82px;
    height: 40px;
    line-height: 40px;
    border: rgba(255, 222, 173, 0);
    background: #ffffff2e;
    border-radius: 4px;
}
.carousel-indicators {
    justify-content: space-between;
    margin-bottom: 3rem;
    opacity: 1;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: rgb(255, 255, 255) !important;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.add-new-page {
    background-color: #96c946;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.shadow-new {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.add-new-page i {
    font-size: 24px;
    color: #fff;
}
.hide {
    display: none !important;
}
.displaybutton-right {
    float:right;
}
.Progress {
    width: 133px;
    height: 33px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.Progress-active {
    background-color: black;
    color: white;
}

.Progress-inactive {
    background-color: white;
    color: black;
}

.line-bar {
    height: 20px;
    width: 1%;
}

.line-bar-active {
    background-color: black;
}

.line-bar-inactive {
    background-color: none;
}

.number-active {
    background-color: black;
}

.progressDirection {
    flex-direction: column;
}
.boxborder {
    border: 1px solid rgb(219, 214, 214);
    padding: 10px 0px 10px 0px;
    margin-bottom: 1rem;
}

.booksimages {
    width: 100%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
    object-fit: fill;
}
.detailstext {
    font-size: 22px;
    text-align: left;
    line-height: 30px;
    color: black;
    display: -webkit-box;
    cursor: pointer;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 1rem;
}
.detailtextalign {
    text-align: left;
    font-size: 16px;
    margin-bottom: 9px;
    color: black;
}
.prod-price {
    text-align: left;
    font-size: 20px;
    color: black;
    margin-bottom: 0px;
}
.select-numm {
    display: flex;
    align-items: baseline;
}
.action {
    text-align: left;
    display: block;
    margin-top: 20px;
}
.more {
    color: #0f228f;
    cursor: pointer;
    font-weight: 500;
    margin-right: 1px;
    font-size: 14px;
    border: 1px solid white;
    padding: 6px 10px 6px 0px;
}
.count-numb {
    width: 25%;
    margin-top: 10px;
    margin-right: 15px;
}
.form-select:focus {
    border-color: #4CAF50;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(76 175 80 / 30%);
}
/* Star Ratings */
.star-rate {
    padding: 0;
    margin: 0;
}

    .star-rate li {
        display: inline-block;
    }

    .star-rate i {
        color: #c0c6d4;
    }

    .star-rate.rating-1 li:nth-child(-n+1) i {
        color: #f1cf21;
    }

    .star-rate.rating-2 li:nth-child(-n+2) i {
        color: #f1cf21;
    }

    .star-rate.rating-3 li:nth-child(-n+3) i {
        color: #f1cf21;
    }

    .star-rate.rating-4 li:nth-child(-n+4) i {
        color: #f1cf21;
    }

    .star-rate.rating-5 li:nth-child(-n+5) i {
        color: #f1cf21;
    }

.card {
    border: none !important;
}
.cardborder {
    border: 1px solid rgb(219, 214, 214) !important;
}
.labelform {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 0.5em;
}

#expandCollapse {
    position: absolute;
    width: 5%;
    float: initial;
    top: -3em;
    border: none !important;
    right: 1em;
}
.icon-user-box {
    border-left: 45px solid #eaf0f4 !important;
}

.myuser {
    display: flex !important;
    align-items: baseline;
    position: absolute;
    top: 2.6rem;
    left: 0.8rem;
    z-index: 9;
    font-size: 25px !important;
}
.mycard {
    font-size: 22px !important;
    display: flex !important;
    align-items: baseline;
    position: absolute;
    top: 2.8rem;
    z-index: 9;
    left: 0.6rem;
}
.paymntdtt {
    background: #4CAF50;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.bright {
    border-right: 3px solid #4CAF50;
}
.deteilsa {
    text-align: left;
    margin-top: 2rem;
}

.paymentpad {
    padding:0.7rem 0.75rem !important;
}

.dropdown-menu {
    --bs-dropdown-min-width: none;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    background-color: none;
    border-color: none;
}

.btn:hover {
    background-color: none;
    border-color: none;
}