/* Header */
header .logo a {
    font-size: 0;
    margin-right: 30px;
    padding: 0;
}

.navbar li a.nav-link {
    font-size: 14px;
    color: black;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
}

.navbar .navbar-nav.menu li a.nav-link {
    color: black;
}

    .navbar .navbar-nav.menu li.active a.nav-link,
    .navbar .navbar-nav.menu li a.nav-link:hover,
    .navbar .navbar-nav.menu li a.nav-link:hover {
        border-bottom: 2px solid Gray;
        color: black;
    }

.navbar .signin li {
    position: relative;
}

    .navbar .signin li:after {
        border-right: 1px solid #fff;
        content: "";
        height: 15px;
        position: absolute;
        top: 12px;
        right: 0;
        opacity: 0.4;
    }

    .navbar .signin li:last-child:after {
        border: 0;
    }

    .navbar .signin li a {
        margin: 0 10px;
    }



/* Head Search */
.head-search {
    position: relative;
    width: 208px;
}

    .head-search .search {
        width: 200px;
        height: 34px;
        font-size: 14px;
        color: #333;
    }

    .head-search .btn-search {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        color: #767676;
        border: 0;
        box-shadow: none;
        min-width: auto;
    }



/* MEGAMENU STYLE
-------------------------------------------------- */
.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
    position: static;
}

.megamenu .container {
    position: relative;
}

.megamenu .dropdown-menu {
    left: auto;
    padding: 0;
}

.megamenu .megamenu-content {
    padding: 0;
}

.megamenu .dropdown.megamenu-fw .dropdown-menu {
    left: 0;
    right: 0;
    margin-top: 8px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 0 rgba(0,0,0,0.08);
    border: 0;
    border-radius: 0;
    max-height: 300px;
    min-height: 200px;
}

.megamenu .menu-banner {
    padding: 30px 30px 30px 40px;
    color: #FFF;
}

.megamenu .title {
    font-size: 26px;
    font-weight: normal;
}

.megamenu .caption {
    margin: 20px 0;
}

.megamenu .nav-inner {
    display: flex;
    width: 100%;
    align-items: center;
}

.menu-list {
    padding: 30px;
    max-height: 300px;
    overflow-y: auto;
}

    .menu-list ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .menu-list li {
        list-style-type: none;
        flex: 0 0 33%;
        margin: 5px 0;
    }

        .menu-list li a {
            font-size: 15px;
            color: #333;
        }

            .menu-list li a:hover {
                text-decoration: none;
                border-bottom: 2px solid #19A7AD;
            }


/* Sign in / After sign in */

.menu.signedin .dropdown-menu a {
    font-size: 14px;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
}

.menu.signedin .dropdown-item.active,
.menu.signedin .dropdown-item:active {
    color: #333;
    background-color: #f8f8f8;
    border: 0;
}

.menu.navbar-nav.signedin li a.nav-link,
.menu.navbar-nav.signedin li a.nav-link:hover {
    border: 0;
}

.menu.signedin .avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

    .menu.signedin .avatar .item {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
    }

        .menu.signedin .avatar .item img {
            width: 100%;
            border-radius: 100%;
            min-width: 35px;
            min-height: 35px;
        }

    .menu.signedin .avatar .no-image {
        border: 1px solid rgba(25,167,173,0.9);
        border-radius: 100%;
        color: #eee;
        font-size: 16px;
        font-weight: 400;
        background: rgba(25,167,173,0.9);
    }


/* Login */

.bell-Mobile {
    display: none;
}


/* Media Screen */
@media (min-width: 768px) {
    .megamenu .nav-link:hover + .dropdown-menu {
        display: block;
    }

    .megamenu .btn-close {
        display: none;
    }
    .mobilecorousel {
        position: relative;
        
        /*top: 1em;*/
        width: 100%;
    }
}


@media (max-width: 1140px) {    
    .mobilecorousel {
        position: relative;
        /*top: 1em;*/
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .mobilecorousel {
        position: relative;
        /*top:-2em;*/
        width: 100%;
    }
}

@media (max-width: 767px) {
    .head-search .search {
        width: 100%;
        display: none;
    }

    .mobilecorousel {
        position: relative;
        /*top: -2em;*/
        width: 100%;
    }

    .megamenu .head-search {
        display: none;
    }

    .logo {
        padding: 10px 15px;
    }

    .megamenu .navbar-toggler {
        margin-right: 0;
        border: 0;
        border: 1px solid lightgray;
    }

        .megamenu .navbar-toggler:focus {
            outline: 0;
        }

    .logo img {
        width: 70%;
    }

    .navbar {
        padding: 0;
    }

    .megamenu .navbar-collapse {
        border-top: 1px solid rgba(255,255,255,0.4);
        margin: 5px 0;
        padding: 0 0 50px 0;
    }

    .navbar .navbar-nav.menu li a.nav-link {
        border: 0;
        color: #333;
    }

    .navbar .menu li.active a {
        border-bottom: 2px solid #19a7ad;
        background: #19a7ad;
        margin: 0;
        /*padding: 5px 10px;*/
    }

    .menu-banner {
        display: none;
    }

    .bell-Notification {
        display: none;
    }
    .bell-Mobile {
        display: block;
    }

    .megamenu .navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        background: rgba(0,0,0,0.6);
        margin: 0;
        border: 0;
        -webkit-transition: opacity 100ms ease-in;
        -moz-transition: opacity 100ms ease-in;
        -o-transition: opacity 100ms ease-in;
        -ms-transition: opacity 100ms ease-in;
        transition: opacity 100ms ease-in;
    }

    .megamenu .nav-inner {
        background: #fff;
        height: 100vh;
        width: 75%;
        position: relative;
        display: inherit;
        padding-top: 43px;
        padding-bottom: 105px;
        transform: translateX(-2000px);
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        overflow-y: auto;
    }

    .megamenu .navbar-collapse.show .nav-inner {
        transform: translateX(0);
    }

    .megamenu .menu-bottom {
        width: 100%;
        flex: 0 0 100%;
    }

    .menu.signedin .dropdown-menu {
        display: block !important;
        border-radius: 0;
        border: 0;
    }

    .megamenu .menu-bottom .show li .row {
        margin-left: 0;
        margin-right: 0;
    }

    .megamenu .menu-bottom li {
        border-top: 1px solid #eee;
        position: relative;
    }

    .megamenu .menu-bottom .show li {
        border-top: 1px solid #ddd;
    }

    .megamenu .menu-bottom .dropdown-toggle::after {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .megamenu .dropdown.megamenu-fw .dropdown-menu {
        max-height: inherit;
        min-height: inherit;
        margin-top: 0;
        box-shadow: none;
        background: #f8f8f8;
    }

    .navbar .navbar-nav.menu li.active a.nav-link,
    .navbar .navbar-nav.menu li a.nav-link:hover,
    .navbar .navbar-nav.menu li a.nav-link:hover,
    .menu.signedin .dropdown-menu a:hover,
    .menu.signedin .dropdown-menu a:active {
        background: white;
        margin: 0;
        color: black;
        border-radius: 0;
        border-top: 0;
    }

    .menu-list {
        padding: 0;
        max-height: inherit;
    }

        .menu-list li {
            flex: 0 0 100%;
            margin: 0;
        }

            .menu-list li a {
                width: 100%;
                display: block;
                padding: 8px 15px;
            }

                .menu-list li a:hover {
                    background: #ddd;
                    border: 0;
                }

    .navbar .signin {
        flex-direction: row;
        text-align: center;
        background: #19a7ad;
        height: 55px;
    }

        .navbar .signin li {
            flex: 1 0 50%;
        }

            .navbar .signin li a {
                margin: 0;
                padding: 16px 0;
                color: #fff !important;
            }

            .navbar .signin li:after {
                top: 20px;
            }

    .menu.navbar-nav.signedin li a.nav-link,
    .menu.navbar-nav.signin {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

        .menu.navbar-nav.signedin li a.nav-link,
        .menu.navbar-nav.signedin li a.nav-link:hover {
            border: 0;
            background: white;
            color: #fff;
            border-bottom: 1px solid gray;
        }

            .menu.navbar-nav.signedin li a.nav-link::after {
                display: none;
            }

    .megamenu .head-search {
        position: absolute;
        top: 55px;
        width: 90%;
        left: 15px;
    }

    .megamenu .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 20px;
        color: #fff;
        font-size: 26px;
        height: 100%;
        width: 100%;
        text-align: right;
    }
        .megamenu .btn-close:hover,
        .megamenu .btn-close:focus {
            color: #ddd;
        }

    .no-scroll .megamenu .open-menu {
        display: none;
    }    
}

@media (max-width: 576px) {    
    .mobilecorousel {
        position: relative;
        /*top: 1em;*/
        width: 100%;
    }
}
